doctype html
html
	-var pageTitl = "政见 CNPolitics · 发掘海内外研究中国政治的智慧成果，引进思想资源"
	-var pageDisc = "政见 CNPolitics.org｜发掘海内外研究中国政治的智慧成果，引进思想资源｜靠谱地谈论中国"
	-var pageKeyw = "政见, 政治, 政治学, 中国, CNPolitics, Chinese, politics, research, researcher, scholar, scholarship"
	include _head.jade
	
	body.home
		.ceiling-line
		header.hero(style="background-image: url(assets/hero.jpg)")
			img.logo(src="assets/logo.svg")
			
		main.home-wrap
			section.digest-list
				mixin digest
					-var digTitle = "维持现状：台湾政治精英的抉择"
					-var digAuthor = "刘冬舒"
					-var digDate = "2015-5-20"
					-var digExcerpt = "台湾内部的两岸政策取态已经从过去激烈的蓝绿对立逐步朝“维持现状”的中间路线靠拢。而这种蓝绿逐渐趋同的局势对台湾的两岸政策、两岸互动以及台海局势的多方博弈都有显著的影响。"
					article.digest
						.thumb
						h3
							a(href="#")= digTitle
						p.meta
							a(href="#" class="author")= digAuthor
							|｜
							time(class="date")= digDate
						p.excerpt= digExcerpt
				+ digest
				+ digest
				+ digest
				+ digest
				+ digest
				+ digest
			
			section.sidebar
				
							
