.hero {
	position: relative;
	width: 100%;
	height: 12em;
	background-color: @red-main;
	background-size: cover;
	background-position: center center;
}

.hero .logo {
	position: absolute;
	left: 3em;
	bottom: 1em;
	width: (128em/18);
}

.home-wrap {
	position: relative;
	margin-top: 3em;
}

/*--- Digest list ---*/
.digest-list {
	width: (540em/18);
	padding-right: ((270em + 72)/18);
	margin: 0 auto;
}

.digest {
	position: relative;
	width: (360em/18);
	margin-top: 2em;
	padding-left: (180em/18);
	line-height: (24em/18);
	
	.thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: (144em/18);
		height: (144em/18);
		background-color: @b95;
	}
	
	h3 {
		font-size: 1em;
	}
	
	.meta {
		margin-bottom: (6em/12);
		color: @text-disable;
		font-size: (12em/18);
		line-height: (20/12);
	}
	
	.author {
		color: @red-main;
		transition: color .5s;
	}
	.author:hover {
		color: @text-disable;
	}
	
	.excerpt {
		color: @text-sub;
		font-size: (16em/18);
	}
}
/*--- Digest list ---*/

/*--- Sidebar ---*/
.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: (270em/18);
	padding-left: 2em;
	padding-right: 2em;
}
