.db-index {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;

	.switch {
		position: fixed;
		top: 50%;
		left: 0;
		width: 3em;
		height: 1em;
		padding: 2em 1em;
		box-sizing: content-box;
		transform: translate3d(0, -50%, 0);
	
		.icon-3bar {
			position: relative;
			display: inline-block;
			width: 1em;
			height: 1em;
			
			.bar-1,
			.bar-2,
			.bar-3 {
				position: absolute;
				top: 0;
				left: 0;
				width: 1em;
				height: 1em;
				will-change: opacity, transform;
				transition: opacity linear .5s, transform cubic-bezier(0.68, -0.55, 0.35, 1.01) .4s;
			}
			
			rect {
				fill: @text-sub;
				transition: fill ease .5s;
			}
		}
		
		.label {
			display: inline-block;
			height: 1em;
			padding: (3em/12) (6em/12);
			vertical-align: top;
			color: @text-sub;
			font-size: (12em/18);
			line-height: 1;
			transition: color ease .5s;
			-ms-transition: color ease 0s;
		}
		
		&:hover {
			rect {
				fill: @red-main;
			}
			
			.label {
				color: @red-main;
			}
		}
	}
}

.db-index.active {
	.switch {
		.icon-3bar {
			.bar-1 {
				transform: rotateZ(135deg) translate3d((5em/18), 0, 0);
			}
			
			.bar-2 {
				transform: rotate(135deg);
				opacity: 0;
			}
			
			.bar-3 {
				transform: rotateZ(225deg) translate3d((-5em/18), 0, 0);
			}
			
			.bar-1,
			.bar-2,
			.bar-3 {
				transition: opacity linear .5s, transform cubic-bezier(0.68, -0.55, 0.27, 1.55) .5s;
			}
		}
	}
}

.test-info {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: @text-disable;
	font-size: (16em/18);
	text-align: center;
	line-height: 1;
	transform: translateY(-50%);
}
